@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.homepage {
  font-family: 'Amatic SC', sans-serif;
  // font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  background-color: #BD9391;
  border-radius: 10px;
}



